@font-face {
  font-family: "calculator";
  src: url("../fonts/Calculator.ttf") format("truetype");
}

body {
  margin: 0;
  color: #fff;
  font-family: "Fraunces", serif;
  background-color: #1f1f1f;
}
.bodySoft {
  background-color: #ffc8e3;
}
.navbarSoft {
  background-color: #ff91c4;
}
.cirDark {
  width: 20x;
  height: 20px;
  border-radius: 50%;
  background-color: #151716;
}
.temaSoft {
  background-color: #151716;
  color: whitesmoke;
  width: 70px;
  height: 40px;
  border-radius: 20%;
  font-size: 20px;
  border-color: seagreen;
  box-shadow: 3px 2px 2px black;
}
.temaDark {
  background-color: #fcc1de;
  color: #db3f88;
  width: 70px;
  height: 40px;
  border-radius: 20%;
  font-size: 20px;
  border-color: #921f54;
  box-shadow: 3px 2px 2px #db3f88;
}
.tituloNav {
  color: darkgray;
  font-weight: bold;
}
.tituloNavSoft {
  color: lavenderblush;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.diseñoDark {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-template-rows: repeat(6, 3fr);
  background-color: #151716;
  width: 60vh;
  height: 70vh;
  border-radius: 10%;
  margin: 5%;
  padding: 3%;
}
.diseñoSoft {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-template-rows: repeat(6, 3fr);
  background-color: #f790b2;
  width: 60vh;
  height: 70vh;
  border-radius: 10%;
  margin: 5%;
  padding: 3%;
}
.pantallaDark {
  grid-column: 1 / -1;
  background-color: black;
  margin-bottom: 15%;
  padding: 4%;
  border-radius: 20%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-family: "calculator";
  color: green !important;
  font-size: 28px;
}
.pantallaSoft {
  grid-column: 1 / -1;
  background-color: #fcc1de;
  margin-bottom: 15%;
  padding: 4%;
  border-radius: 20%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-family: "calculator";
  color: #db3f88 !important;
  font-size: 28px;
}
.btnDark {
  justify-self: center;
  justify-content: center;
  width: 70%;
  height: 70%;
  border-radius: 20%;
  border-color: seagreen;
  background-color: #292b29;
  color: #fff;
  box-shadow: 3px 2px 2px black;
  font-weight: bold;
}
.btnSoft {
  justify-self: center;
  justify-content: center;
  width: 70%;
  height: 70%;
  border-radius: 20%;
  border-color: #921f54;
  background-color: #fcc1de;
  color: #db3f88;
  box-shadow: 3px 2px 2px #db3f88;
  font-weight: bold;
}
.btn:hover {
  color: #fff;
}
.btn:active {
  color: #fff;
}
.c {
  grid-column: 1 / -1;
}
.quitar {
  display: none;
}
#operacion {
  max-width: 100%;
  overflow: hidden;
}
#resultado {
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 766px) {
  .pantallaDark {
    margin: 4%;
  }
  .pantallaSoft {
    margin: 4%;
  }
  .diseñoDark {
    align-items: center;
    margin-right: initial;
  }
  .diseñoSoft {
    align-items: center;
    margin-right: initial;
  }
}
